<a href="https://colab.research.google.com/github/mina64-y/python_basic/blob/main/01_python_core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 주석
# 파이썬은 데이터타입을 지정하지 않음
# 변수는 주소로 컴파일됨
# 전역변수 영역에 저장
a=10
b=a   #주소가 넘어감
print(a) # 고급언어 (추상화되어 있음)
print(b)
print("주소값 대입", id(a)), print(id(b)) #동일한 주소
a=20
print(a)
print(b)
print('주소값대입', id(a)), print(id(b)) #주소 값이 다름

10
10
주소값 대입 133728427655696
133728427655696
20
10
주소값대입 133728427656016
133728427655696

(None, None)

In [ ]:
#c라는 변수를 초기화하지 않음( 파이썬에서는 초기화 되지 않은 변수를 사용하면 안 됨)
#주소값을 포인터:
#프로그램 규칙상: 초기화 되지 않은 포인터를 사용하면 에러가 발생
c=100
print(c)

100

파이썬 코어


*   파이썬의 변수는 주소를 담고 있음
*   변수를 대입하면 변수의 주소를 넘김

# 파이썬은 데이터타입을 지정하지 않음
- 변수에 데이터가 입력되는 것이 아니라 주소가 저장
- 데이터타입은 있음
  - 숫자: int(정수),float(부동소수점), complex(복소수)
  - 문자: str(배열(연속적 메모리 공간, 동직적 데이터) 형태처리)
  -불(bool) 자료형 : True / False

In [ ]:
a = 10
type(a)

int

# python에서는 변수도 객체(class)

In [ ]:
# 1바이트는 8비트
a.bit_length()  #4바이트 => 32비트

4

In [ ]:
# 문제 float형 변수를 선언하고 3.141592(pi)를 저장하고 몇바이트 저장공간이 필요한지 확인하시요
# 시스템에 따라 사이즈 달라짐
a = 3.141592
type(a)
a
import sys # 패키지를 임포트
size = sys.getsizeof(a)
print(size) # 24바이트

24

# 파이썬은 대소문자를 구분

In [ ]:
a =10
A = 20
print(a)
print(A)

10
20

In [ ]:
# 입출력은 문자열로
problem = input('수식을 입력하시요')
print(problem) # 문자열(str)
# print(problem+100) # 데이터 타입이 같아야 더할 수 있음
print(eval(problem)) # 정수 100

수식을 입력하시요100+200+300
100+200+300
600

In [ ]:
type(problem)

str

In [ ]:
"abc"+"def"

'abcdef'

# casting

- 문자열을 만들때는 ',"을 사용

In [ ]:
print(int('23'))
print(float('23.2'))
x = 5
print(eval(" 23 + (2*x) "))

23
23.2
33

In [ ]:
a3 = 4.24e-3  # 지수형
# 컴퓨터는 2진수 -> 8진수, 16진수 -> 10진수
# e-3
a4 = 0o177 #8진수
print(a3)
print(a4)

0.00424
127

In [ ]:
# 177(8진수)을 수식으로 10진수로 바꾸시요
((1*8 **2) + (7 * 8 **1) + (7*8**0))

127

In [ ]:
64 + 56 + 7

127

문자열 출력
- s : string,  i : int

In [ ]:
print('My name is %s and I am from %s, %i .' % ('AI', '4차산업혁명',10))
print('My name is {1} and I am from {0} and I like {thing}' .format('딥러닝', 'AI',thing='cats'))
name = '김종호'
age = 20
#f 문자열
print(f'이름은 {name} 나이는 {age}')

My name is AI and I am from 4차산업혁명, 10 .
My name is AI and I am from 딥러닝 and I like cats
이름은 김종호 나이는 20

In [ ]:
# 파이썬에서는 변수도 객체
fullName = input('이름을입력하시오:')
n=fullName.rfind(' ') #reverse find, 공백도 문자
#문자열은 배열
print(fullName[0])
print(fullName[1])
print(fullName[2])
print(n)
print("이름:", fullName[n+1:]) #indexing, 끝까지
print("성(s):", fullName[:n]) #처음부터

이름을입력하시오:김 종호
김

종
1
이름: 종호
성(s): 김

In [ ]:
# 인덱싱
     #01234
s = 'korea'
print(s+s) # 문자열 더하기
print(s * 3) # 문자열 곱하기(3번 반복)
print(s[0:]) # 끝까지
print(s[4])
print(s[-1]) # -0은 없음
print(s[1:3]) # 3은 제외하고 (R은 제외 안 함)

print(s[-2:])
print(s[-2:5])
print(s[3:-1]) # +, -혼용해서 사용 가능(R은 안됨)
print(len(s))
s.split('r') # 문자열도 객체(class) -> list 표현 []
# 파이썬에는 배열이 없고, list 대신(메모리를 효율적으로 사용하기 위해)

koreakorea
koreakoreakorea
korea
a
a
or
ea
ea
e
5

['ko', 'ea']

In [ ]:
from posixpath import join
t = 'Seoul, lncheon, won' .split(',')
print(t)
',' .join(t)
type(','.join(t))

['Seoul', ' lncheon', ' won']

str

- [] -> list
- () -> tuble (list와 같지만 수정 불가 , 함수의 리턴 값)
- {} -> dict, set

# 문자열
- str
- 체크함수(isupper, islower, isspace) # 숫자, 문자, 특수문자
- CRUD(append, extend, pop, remove, del, clear)
- 변환함수(upper, lower,split, join)
- 출력함수(c, c#, F문자열)
- 카운트함수(len, count)

In [ ]:
s= 'korea'
print(s.capitalize())  # 첫자 대문자
print(s.find('r')) # 인덱스 2
print(s.count('re')) # 1 횟수
print(s.isalpha()) #bool형 데이터 타입으로 리턴(return)
print(s.isdigit()) #False
print('0123' .isdigit()) #
print(s.replace('r','R')) #파싱할 떄 많이 사용
print(s.startswith('K')) #처음문자 체크
print(s.endswith('a')) #

Korea
2
1
True
False
True
koRea
False
True

In [ ]:
f = 1.23 #부동소수점: float
g = str(f)
h = repr(f) # 더 정교하게 작동한다
print(g,'  ',h)

1.23    1.23

# 연산자
- 컴퓨터 구조 : CPU(제어장치, 연산장치), memory
- 계산하는 것
- 대수적 연산
  - 산술연산자( +, -, *, /, //, %, **)
  - 관계연산자(>, >=, <, <=, ==, !=)
  - 논리연산자( and, or, not)
  - 비트연산자
- 초월함수( 삼각함수(회전, 주기적), 지수함수, 로그함수) : math

In [ ]:
a = 3
b = 4

print(a+b, a-b, a*b, a/b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) # 나머지 연산자: 경우의 수를 계산
print(1%2)

print(7/4)
print(7//4)
print(7%4)

7 -1 12 0.75
-1
12
0.75
3
1
1.75
1
3

In [ ]:
#sum(1,2)
#리스트가 매개변수값으로 입력
# []:리스트, {}:dict, set, (): tuple
print('sum([1,2,3]):', sum([1,2,3]))
print('min([1,2,3]):', min([1,2,3]))
print('abs(-11):', abs(-11)) #절대값
print("pow(2,10):", pow(2,10)) #승 1024바이트 -> 1kb, 1024kb -> 1MB, 1024MB -> 1GB, 1024GB -> 1TB
print('round(3.141592):', round(3.141592)) # 소수점 이하 첫번째 자리에서 반올림
print('round(3.141592):', round(3.141592,2)) #소수점이하 3번째 자리에서 반올림하고, 2번째자리까지 표현

sum([1,2,3]): 6
min([1,2,3]): 1
abs(-11): 11
pow(2,10): 1024
round(3.141592): 3
round(3.141592): 3.14

In [ ]:
#문제 8TB를 바이트로 표현해 보이오
8*1024*1024*1024*1024

8796093022208

In [ ]:
# 프로그램은 순차적으로 실행
# 순서를 바꾸는 것 ( 함수, 조건문, 반복문)
# 데이터를 입력
num1 = input('정수를 입력하시오:')
num2 = input('정수를 입력하시오:')
hab = int(num1) + int(num2) #casting
quotient = hab //2 #몫
remainder = hab % 2 #나머지 : 0, 1
print('입력된 수를 2로 나눈 결과 몫 =', quotient, '나머지=', remainder)
# 들여쓰기
if remainder == 0: # 블록의 시작
  print('짝수입니다.')
  print('짝수입니다.') # 들여쓰기가 끝나는 지점
else:
  print('홀수입니다.')

정수를 입력하시오:10
정수를 입력하시오:10
입력된 수를 2로 나눈 결과 몫 = 10 나머지= 0
짝수입니다.
짝수입니다.

In [ ]:
a = 10 # 숫자는 그대로가 고유한 값
print(hash(a)) # hash함수는 키값을 생설할 때 사용(교유하게 구분할 수 있는 값)
print(id(a))   # id: 메모리의 물리적 위치
print(hash('10'))

10
134081851884048
3184944529570716510

In [ ]:
# heap, stack, (전역변수, static), code
# 함수가 함수를 호출하는 방법으로 실행
# 함수 : 반복 사용하기 위해서 -> stack(필요한 데이터는 어디에 저장)
x = 300 #전역변수
def myfunc(): #함수를 정의
  x=200; #지역변수(함수안에서 선언된 변수) , 지역변수가 우선한다
  print(x)
myfunc() # 함수 호출
print(x)

300
300

In [ ]:
# 문제 : 어떤 정수를 입력받아서  0:가위, 1:바위, 2:보의 3가지 경우가 될 수 있도록
# 프로그램 해보시요
# 입력 -> 문자변환 -> 경우의 수 -> 경우수로 판단(if)
indata = input('정수를 입력하시오:')
select = int(indata)%3
# select = int(input('정수를 입력하시오:')) %3
if select == 0:
  print("가위")
elif select == 1:
  print("바위")
#elif select == 2:
else:
  print("보")

정수를 입력하시오:101
정수를 입력하시오:105
가위

In [ ]:
a = [1,2,3,4,5]
b = a[0:2] #slicing 의 결과도 리스트 : 결과 데이터 타입에 대해서 확인
print(b)
print(type(b))
# 2번째 인덱스에 있는 내용에 "hi"를 더해서 출력해 보시오
print(str(a[2]) + "hi") # 더 넓은 범위로 캐스팅
# 넓은데서 좁은 데이터타입으로 캐스팅하면 데이터가 절단 됨

[1, 2]
<class 'list'>
3hi

In [ ]:
a = [1,2,3,['a','b','c'],4,5]  # 2차원 리스트
                               # 리스트 속 리스트는 하나로 인식
                               # [1,2,3,주소,4,5]로 인식
print(a[2:5])
print(a[3][:2]) # 2차원이라서 두개의 인덱싱이 들어감 # 인덱스3의 :2가 출력

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [ ]:
a = [1,2,['a','b',['Life', "is"]]] # 3차원 리스트
print(a[0])
print(a[2][2][0]) # a 인덱스 2 번(['a','b',['Life','is'])의 2번(['life','is'])의 0번('Life")이 출력됨
print(len(a))
print(len(a[2]))
print(len(a[2][2]))

1
Life
3
3
2

In [ ]:
a = [1,2,3]
a[2] = 4
print(a)

[1, 2, 4]

In [ ]:
a[1:2] = ['a','b','c'] # 데이터가 풀어져서 입력
print(a)
a[2] = ['하나', '둘', '셋'] #모양을 유지하면서 수정
print(a)

TypeError: 'list' object is not callable

In [ ]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
a = [1,2,3,4,5]
b = range(1,5,1) #초기값:1 , 한계값:5, 증강값:1 ->1부터 4(한계값의 본인은 제외, 본인 앞자리까지)까지 1씩 증가함.
# for(int i = 0; 1<10; i++){} #다른 언어의 형태, 파이썬은 안 씀
print(b)  #list만 출력됨 -> 다른 형태는 list로 만드어줘야 함(캐스팅)
print(list(b))
for i in a:
  print(i)
for i in b:
  print(i)
  print(a[i])

range(1, 5)
[1, 2, 3, 4]
1
2
3
4
5
1
2
2
3
3
4
4
5

In [ ]:
# Stack 자료구조(Last in first out) LIFO
a = [10,20,30,40,50] # 프로그램의 시작점은 스택의 맨 마지막에 위치함
a.append(60)    # append 추가
print(a.pop()) # pop은 제거
a.append(70)
a.append(80)
print(a.pop())
print(a)

60
80
[10, 20, 30, 40, 50, 70]

In [ ]:
#Queue : FIFO(first in first out)
#list
#모든 변수는 초기화: 파이썬 변수는 포인터
#데이터가 없으면 False
printer = [] #{},()
if not printer:    # 논리연산자 and, or, not
  print('리스트가 비어 있습니다.')
printer.append(60)
printer.append(50)
if not printer:
  printer.pop()
printer.append(40)
print(printer.pop(0))
printer

리스트가 비어 있습니다.
60

[50, 40]

In [ ]:
# 함수
# 컴퓨터는 함수 베이스로 작동 (stack에 함수가 필요한 데이터를 저장 실행: 지역변수)
# 왜 함수를 만드는가?
# 사용자 정의 함수
# 디폴트 매개변수
def calc(a,b): #가매개변수
  return a+b, a*b # 함수가 리턴할 때는 tuple로 리턴
x,y = calc(3,4) #실매개변수 #파이썬에서는 다중리턴이 가능
print(x,y)
print(x)
x,y
args=(4,5) #한개의 매개변수 (tuple)
# calc(args) -> 오류
calc(*args)  # 찢어져 입력

7 12
7

(9, 20)

In [ ]:
def calc(a,b=1):
  return a+b, a*b
print(calc(1)) # 1개만 넣었지만, b가 이미 선언되어있기 때문에 출력 가능
# 데이터 타입을 지정하지 않는 대신에 데이터 타입에 대한 확인 책임은 프로그래머에게 있음
# calc("김종호","두번") -> a*b에서 오류 발생
# calc("김종호", 3)  -> a+b 에서 오류 발생

(2, 1)

In [ ]:
cities = ['seoul', 'incheon', 'suwon']
print(cities)
cities.append('busan')
print(cities)
cities.insert(0, 'daegu')
print(cities)
other_cities=['jeju', 'kwangju']
print('결합', cities + other_cities)
cities.append(['daejeon', 'ulsan'])
cities.extend(['jeju','kwangju'])
print(cities)

['seoul', 'incheon', 'suwon']
['seoul', 'incheon', 'suwon', 'busan']
['daegu', 'seoul', 'incheon', 'suwon', 'busan']
결합 ['daegu', 'seoul', 'incheon', 'suwon', 'busan', 'jeju', 'kwangju']
['daegu', 'seoul', 'incheon', 'suwon', 'busan', ['daejeon', 'ulsan'], 'jeju', 'kwangju']

In [ ]:
# 문제: 인덱스를 이용해서 ulsan을 출력해 보시오
print(cities[5][1])
#'incheon' 을 삭제하시오
cities.remove('incheon')
print(cities)

ulsan
['daegu', 'seoul', 'suwon', 'busan', ['daejeon', 'ulsan'], 'jeju', 'kwangju']

In [ ]:
# dict 자료구조 (MAP) : JSON
# dictionary 사전형
# 키이 + 데이터 형식
# 키이는 주소로 매핑(hash 함수에 의해서)
# 순서를 보장할 수 없는 데이터 타입
d = {'one':1, 'two':2}
print(d.items()) # 데이터 타입에 변화
print(d.keys())
d.values()
# range

dict_items([('one', 1), ('two', 2)])
dict_keys(['one', 'two'])

dict_values([1, 2])

In [ ]:
               #binary 2진수 128 64 32 16 8 4 2 1
print(bin(3))    #                            1 1
print(hex(255))  #            1   1  1  1 1 1 1 1  # A,B,C,D,E,F
print(oct(15))   #                        1 1 1 1

0b11
0xff
0o17

In [ ]:
divmod(10,2) # 몫, 나머지

(5, 0)

In [ ]:
# enumerate 열거형 객체(순서가 필요할 때)
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(enumerate(seasons))
print(list(enumerate(seasons)))   # start=0 디폴트 매개변수로 생략되어있음
print(list(enumerate(seasons, start=1)))
print(seasons[1])

<enumerate object at 0x799fc45c9440>
[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]
Summer

In [ ]:
enum1 = enumerate(seasons)
for en in enum1:
  print(en)

(0, 'Spring')
(1, 'Summer')
(2, 'Fall')
(3, 'Winter')

In [ ]:
print(ord('A')) # ordinal 순서의
print(ord('O'))
print(hex(ord('O')))
print(ord('a'))

65
79
0x4f
97

In [ ]:
# 정렬-> 검색을 빨리하기 위해서 (등수)
monarchs = [('대한', 1), ('민국',3), ('만세', 6), ('야호', 1)]
monarchs.sort() #key=lambda row: row[0] 첫번째 데이터를 이용해서 정렬
print(monarchs)
#lambda 람다 함수: 무명함수 - 재사용하지 않는 함수(간단한 함수)
def func(row):         #->lamda함수
  return row[1]

monarchs.sort(key=lambda row: row[1], reverse=True) # row[1] 데이터를 기준으로 정렬 #내림차순(descending) ->[('만세', 6), ('민국', 3), ('대한', 1), ('야호', 1)]
# monarchs.sort(key=lambda row: row[1])   #오름차순 (asoending) -> [('대한', 1), ('야호', 1), ('민국', 3), ('만세', 6)]
print(monarchs)

[('대한', 1), ('만세', 6), ('민국', 3), ('야호', 1)]
[('만세', 6), ('민국', 3), ('대한', 1), ('야호', 1)]

In [ ]:
#문제 : 3인분의 이름과 국어 점수를 입력받아 리스트에 저장하시요

name = input("이름을 입력하시오:")
kor= input("국어 점수를 입력하시오:")
name2 = input("이름을 입력하시오:")
a2 = input("국어 점수를 입력하시오:")
name3=input("이름을 입력하시오:")
a3 = input("국어 점수를 입력하시오:")
B= ([name, a], [name2, a2], [name3, a3])
print(B)

이름을 입력하시오:김
국어 점수를 입력하시오:10
이름을 입력하시오:이
국어 점수를 입력하시오:30
이름을 입력하시오:박
국어 점수를 입력하시오:50
(['김', '10'], ['이', '30'], ['박', '50'])

In [ ]:
ban = []
name = input('이름을 입력하시오:')
kor = eval(input('국어점수를 입력하시오!:'))
ban.append([name,kor])
name = input('이름을 입력하시오:')
kor = eval(input('국어점수를 입력하시오!:'))
ban.append([name,kor])
name = input('이름을 입력하시오:')
kor = eval(input('국어점수를 입력하시오!:'))
ban.append([name,kor])

ban.sort(key=lambda row: row[1], reverse=True)
print(ban)

이름을 입력하시오:대한
국어점수를 입력하시오!:90
이름을 입력하시오:민국
국어점수를 입력하시오!:80
이름을 입력하시오:만세
국어점수를 입력하시오!:100
[['만세', 100], ['대한', 90], ['민국', 80]]

# 컴퓨터 프로그램은 반복을 싫어하고 재사용을 좋아한다.

In [ ]:
#최적화 (optimization)
ban = []
for i in range(3):  #한계값
  name = input('이름을 입력하시오:')
  kor = eval(input('국어점수를 입력하시오!:'))
  ban.append([name,kor])

ban.sort(key=lambda row: row[1], reverse=True)
print(ban)

이름을 입력하시오:김 10
국어점수를 입력하시오!:10
이름을 입력하시오:이
국어점수를 입력하시오!:20
이름을 입력하시오:박
국어점수를 입력하시오!:30
[['박', 30], ['이', 20], ['김 10', 10]]

In [ ]:
#한 학년은 2개의 반으로 이뤄져 있음
#한 학교는 3학년으로 이루어져 있음
#한 교육청을 2개의 학교로 이루어져 있음

depart = []
for i in range(2):
  school = []
  for i in range(3):
    grade = []
    for i in range(2):
      ban = []
      for i in range(2):
        name = input('이름을 입력하시오:')
        kor = eval(input('국어점수를 입력하시오!:'))
        ban.append([name, kor])
      grade.append(ban)
    school.append(grade)
  depart.append(school)

depart.sort(key=lambda row: row[1], reverse=True)

print(depart)

이름을 입력하시오:김
국어점수를 입력하시오!:10
이름을 입력하시오:이
국어점수를 입력하시오!:20
이름을 입력하시오:최
국어점수를 입력하시오!:30
이름을 입력하시오:박
국어점수를 입력하시오!:40
이름을 입력하시오:대
국어점수를 입력하시오!:50
이름을 입력하시오:한
국어점수를 입력하시오!:60
이름을 입력하시오:민
국어점수를 입력하시오!:70
이름을 입력하시오:국
국어점수를 입력하시오!:80
이름을 입력하시오:만
국어점수를 입력하시오!:90
이름을 입력하시오:세
국어점수를 입력하시오!:100
이름을 입력하시오:야
국어점수를 입력하시오!:90
이름을 입력하시오:호
국어점수를 입력하시오!:80
이름을 입력하시오:김
국어점수를 입력하시오!:70
이름을 입력하시오:이
국어점수를 입력하시오!:60
이름을 입력하시오:박
국어점수를 입력하시오!:50
이름을 입력하시오:최
국어점수를 입력하시오!:90
이름을 입력하시오:제
국어점수를 입력하시오!:80
이름을 입력하시오:양
국어점수를 입력하시오!:90
이름을 입력하시오:배
국어점수를 입력하시오!:80
이름을 입력하시오:사
국어점수를 입력하시오!:80
이름을 입력하시오:김
국어점수를 입력하시오!:90
이름을 입력하시오:윤
국어점수를 입력하시오!:10
이름을 입력하시오:지
국어점수를 입력하시오!:90
이름을 입력하시오:우
국어점수를 입력하시오!:50
[[[[['김', 70], ['이', 60]], [['박', 50], ['최', 90]]], [[['제', 80], ['양', 90]], [['배', 80], ['사', 80]]], [[['김', 90], ['윤', 10]], [['지', 90], ['우', 50]]]], [[[['김', 10], ['이', 20]], [['최', 30], ['박', 40]]], [[['대', 50], ['한', 60]], [['민', 70], ['국', 80]]], [[['만', 90], ['세', 100]], [['야', 90], ['호', 80]]]]]

In [ ]:
#문제: 각 학생의 점수를 합해서 마지막에 추가하시요
#총점을 기준으로 정렬해서 출력하시오
#내림차순으로 정렬해 놓고 마지막에 숫자 1,2,3을 입력해서 등수를 만드시요

sungjuk=[['하하',100,100,100], ['유재석', 99,99,98], ['추신수', 90, 98,91]]

for i in range(3):
  total = sungjuk[i][1] + sungjuk[i][2] + sungjuk[i][3]
  sungjuk[i].append(total)
sungjuk.sort(key=lambda row: row[-1], reverse=True)
print(sungjuk)

for i in range(len(sungjuk)):
  ranking = [['1등'], ['2등'], ['3등']]
  score = ranking[i]+sungjuk[i]
  print(score)

[['하하', 100, 100, 100, 300], ['유재석', 99, 99, 98, 296], ['추신수', 90, 98, 91, 279]]
['1등', '하하', 100, 100, 100, 300]
['2등', '유재석', 99, 99, 98, 296]
['3등', '추신수', 90, 98, 91, 279]

In [ ]:

sungjuk=[['하하',100,100,100], ['유재석', 99,99,98], ['추신수', 90, 98,91]]

for i in range(3):
  total = sungjuk[i][1] + sungjuk[i][2] + sungjuk[i][3]
  sungjuk[i].append(total)
sungjuk.sort(key=lambda row: row[-1], reverse=True)
print(sungjuk)

[['하하', 100, 100, 100, 300], ['유재석', 99, 99, 98, 296], ['추신수', 90, 98, 91, 279]]