<a href="https://colab.research.google.com/github/mina64-y/python_basic/blob/main/02_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#제어문 (if, for, try ~ except(예외처리))
- 순서적으로 실행
- 입력 -> 처리 -> 출력

In [ ]:
score = 70
if score >= 80:  # 관계연산자, block - 들여쓰기
  print("80이상")
else:
  print("80이하")

80이하

In [ ]:
# 삼항연산자
x = -5
ans = '양수' if x>=0 else '음수'
print(ans)

음수

In [ ]:
city = ''  # False 초기화
if not city:
  print('empty city')
if len(city) > 0:
  print(city)

empty city

In [ ]:
city = 'incheon'
cities = ['seoul', 'suwon', 'incheon']
#print(cities.index("ddd")) # 없을 떄 에러
print(cities.count("ddd"))
if x in cities: cities.index("ddd")
print(x)
if city in cities:
  print(cities.index(city))

0
-5
2

In [ ]:
city = 'incheon'
cities = ['seoul', 'suwon', 'incheon']
#print(cities.index("ddd")) # 없을 떄 에러
print(cities.count("ddd"))
if "ddd" in cities:
  print(cities.index("ddd"))
if city in cities:
  print(cities.index(city))

0
2

In [ ]:
# 바다 코끼리 연산자
# 증가변수
# i = i + 1
# i += 1
# 누적변수
# hab = hab + 1
sample_str = "Hello"
# 값을 대입하면서 결과를 리턴
if (length := len(sample_str)) >= 5:
  print(f"문자열 길이: {length}")
else:
  print(f"문자열 길이: {length}")

문자열 길이: 5

# 수입과 지출을 입력받아 순수익을 출력하는 프로그램을 작성하시오
- 순수익, 순수익, 손익분기점

In [ ]:
costs = eval(input("총 지출(비용)을 입력하시요"))
income = eval(input("총수익을 입력하시요"))
if costs == income:
  result = "손익분기점입니다."
else:
  if costs < income:
    profit = income - costs
    result = "순수익 = {0:,.2f}.".format(round(profit,2)) #float
  else:
      loss = costs - income
      result = "순손실 = ${0:,.2f}.".format(round(loss,2))
print(result)

총 지출(비용)을 입력하시요100
총수익을 입력하시요50
순손실 = $50.00.

In [ ]:
costs = eval(input("총지출(비용)을 입력하시요"))
income = eval(input("총수익을 입력하시요"))
if costs == income:
  result = "손익분기점입니다."
elif costs < income:
  profit = income - costs
  result = "순수익 = {0:,.2f}.".format(round(profit,2))
else:
  loss = costs - income
  result = "순손실 = ${0:,.2f}.".format(round(loss,2))
print(result)

총지출(비용)을 입력하시요1000
총수익을 입력하시요500
순손실 = $500.00.

In [ ]:
num1 = input("") #숫자하고 문자
num2 = input("")
# 가능한 경우의 수(4)
# 숫자, 숫자가 들어오면 합해서 출력
# 첫번째 수가 숫자가 아닐지 두번째 숫자가 숫자가 아닌지를 출력
# 문자인 경우를 나누어서 출력해서 보시요
# isdigit(), isalpha()   -> 숫자인지 문자인지 구분하는 함수
if num1.isdigit() and num2.isdigit():
  print("합계는", str(eval(num1)+eval(num2))+".")
elif not num1.isdigit():
  if not num2.isdigit():
    print("둘 다 숫자가 아님.")
  else:
     print("첫번째 숫자가 숫자가 아님")
else:
  print("두번쨰 숫자가 숫자가 아님")

아
1
첫번째 숫자가 숫자가 아님

In [ ]:
# color , mode
#         STEADY      FLASHING
# BLUE    화창한날    구름낀 날
# RED     비오는날    눈오는 날

In [ ]:
color = input("색입력(BLUE or RED):")
mode = input(" mode 입력 (STEADY or FLASHING):")
color = color.upper()
mode = mode.upper()

if color == "BLUE" and  mode == "STEADY":
  print("화창한 날")
elif color == "BLUE" and mode =="FLASHING":
  print("구름낀 날")
elif color == "RED" and mode == "STEADY":
  print("비 오는 날")
else:
  print("눈 오는 날")

색입력(BLUE or RED):red
 mode 입력 (STEADY or FLASHING):flashing
눈 오는 날

In [ ]:
color = input("색입력(BLUE or RED):")
mode = input(" mode 입력 (STEADY or FLASHING):")
color = color.upper()
mode = mode.upper()
#단일
result = ""
if color == "BLUE" and  mode == "STEADY":
  result = "화창한 날"
elif color == "BLUE" and mode =="FLASHING":
  result ="구름낀 날"
elif color == "RED" and mode == "STEADY":
  result ="비 오는 날"
else:
  result = "눈 오는 날"
print("예측된 날씨는", result)

색입력(BLUE or RED):
 mode 입력 (STEADY or FLASHING):
예측된 날씨는 눈 오는 날

In [ ]:
# 중첩구조
result = ""
if color == "BLUE":
  if mode == "STEADY":
    result = "화창한 날"
  else:
    result ="구름낀 날"
elif color == "RED" and mode == "STEADY":
  result ="비 오는 날"
else:
  result = "눈 오는 날"
print("예측된 날씨는", result)

In [ ]:
# 점수를 입력받아서 90 이상 : 'A', 80 점 이상: 'B', 70점 이상: 'C', 60점 이상: 'D'
# 나머지는 F학점으로 출력하시요
# 경우의 수 5개 (elif:3)
print('점수입력 : ', end='')
jumsu = int(input())
if jumsu >= 90 : print('A')
elif jumsu >= 80 : print('B')
elif jumsu >= 70 : print('C')
elif jumsu >= 60 : print('D')
else: print('F')

점수입력 : 60
D

In [ ]:
# 과일을 100.50원에 세금 12.5%를 붙여서 팔았다.
# 세금과 매출액이 얼마인지 출력하시요(소수점 2째 자리까지 표현하시요)

price = 100.50
tax = 12.5 / 100
tax_amount = price * tax
sales_amount = price + tax_amount
print("과일에 대한 세금=", round(tax_amount,2), "매출액=", round(sales_amount,2))

과일에 대한 세금= 12.56 매출액= 113.06

In [ ]:
# 과일의 개수를 입력받아서 총 매출액과 총  세금액을 출력하시요
price = 100.50
tax = 12.5 / 100
tax_amount = price * tax
sales_amount = price + tax_amount

amount = eval(input("판매한 과일 개수를 입력하시요"))
total_tax = tax_amount * amount
total_amount = sales_amount * amount
print(amount, "의 개수를 팔았을 때","총 세금액=",round(total_tax,2), "총 매출액=", round(total_amount,2))

판매한 과일 개수를 입력하시요50
50 의 개수를 팔았을 때 총 세금액= 628.12 총 매출액= 5653.12

In [ ]:
# 제곱미터로 표현되는 아파트 면적을 평형으로 계산하여 종류를 판정하시요
# 평형수 = 제곱미터 / 3.305
# 대형(30이상), 중형(30~17이상), 소형은 (17미만)

square_area = int(input("제곱미터를 입력하시요:"))
size = square_area / 3.305
if size  >= 30:
  aptsize = "대형"
elif size >= 17:
  aptsize = "중형"
else:
  aptsize = "소형"
print(f"아파트 유형은 {aptsize} 입니다")

제곱미터를 입력하시요:500
아파트 유형은 대형 입니다

In [ ]:
# 날 수를 입력하면 이를 초로 변경하는 프로그램을 작성하시요
# 1일 = 24시간, 1시간은 60분, 1분은 60초
days = int(input('날 수를 입력하시요:'))
sec = days * 24 * 60 * 60
print(sec, '초')

날 수를 입력하시요:5
432000 초

In [ ]:
# 문제 : 년도와 월 그리고 일을 분리해서 출력해보시요
# 01234567
#19951031
import datetime
dt = datetime.datetime.now()
print(dt)
print(dt.year)
print(dt.month)
print(dt.day)

age = input("생년월일(19951031)을 입력하시오")
year = int(age[0:4])
month = int(age[4:6])
day = int(age[6:])

dt = datetime.datetime.now()
print(dt)

# 질문 : -가 가능한 변수는
year_diff = dt.year - year
month_diff = dt.month - month
day_diff = dt.day - day
# - 값 조정
if day_diff < 0:
  month_diff -=1
if month_diff < 0:
  year_diff -=1

print("당신의 나이는 ", year_diff + 1)
if year_diff < 18:
  print("당신은 미성년자입니다.")
else:
  print("당신은 미성년자가 아닙니다.")

2025-01-02 23:30:50.462589
2025
1
2
생년월일(19951031)을 입력하시오10020202
2025-01-02 23:30:57.632352
당신의 나이는  1023
당신은 미성년자가 아닙니다.

In [ ]:
# 놀이공원 매표소 단체 입장료 계산하기
# 조건 : 초등(5,000원), 청소년(10,000원), 일반인(15,000원), 경로대상(3,000원)
# 팀별할인 카드 확인
# 카드없음: 할인무, 일반카드: 10%, vip:20%
# 입장하는 사람들의 입원수를 입력받아 입장료를 계산하시오(카드할인 종류 입력)
ele_rate = 5000
mid_rate = 10000
adult_rate = 15000
senior_rate = 3000

ele = int(input("초등학생 :"))
mid = int(input("청소년 :"))
adult = int(input("성인 : "))
senior = int(input("경로대상 : "))

total_rate = (ele * ele_rate) + (mid * mid_rate) + (adult * adult_rate) + (senior * senior_rate)
print(total_rate)

price = input("결제 방법(CARD or CASH or VIP) : ")
price = price.upper()
if price == "CARD":
  total_price = total_rate - (total_rate * 0.1)
elif price == "VIP":
  total_price = total_rate - (total_rate * 0.2)
else:
    total_price = total_rate
print(f"당신의 결제 금액은 {total_price}원입니다.")

초등학생 :5
청소년 :3
성인 : 5
경로대상 : 3
139000
결제 방법(CARD or CASH or VIP) : card
당신의 결제 금액은 125100.0원입니다.